@model IEnumerable<IssueTrackerAPI.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Projects" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="filter">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead align="center">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]">@Html.DisplayNameFor(model => model.Title)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IssueCountSortParm"]">Issues</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.LastEditDate)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr align="center">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issues.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEditDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a>
                @*<a asp-area="" asp-controller="Issues" asp-route-filter="@item.Title" asp-action="Index">Issues</a>*@
                <a asp-area="" asp-controller="Issues" asp-route-filter="@item.Title" asp-route-projectDescription="@item.Description" asp-action="ProjectIssues">Issues</a>
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
