@*@model IssueTrackerAPI.Models.Issue*@
@model IssueTrackerAPI.ViewModels.IssueAssigneeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Issue.IssueId" />
            <div class="form-group">
                <label asp-for="Issue.Title" class="control-label"></label>
                <input asp-for="Issue.Title" class="form-control" />
                <span asp-validation-for="Issue.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Description" class="control-label"></label>
                <input asp-for="Issue.Description" class="form-control" />
                <span asp-validation-for="Issue.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Author" class="control-label"></label>
                <select asp-for="Issue.AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="Issue.AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Project" class="control-label"></label>
                <select asp-for="Issue.ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="Issue.ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Severity" class="control-label"></label>
                <select asp-for="Issue.SeverityId" class="form-control" asp-items="ViewBag.SeverityId"></select>
                <span asp-validation-for="Issue.SeverityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Status" class="control-label"></label>
                <select asp-for="Issue.StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="Issue.StatusId" class="text-danger"></span>
            </div>

            <div class="form-group">

                <label asp-for="Issue.Assignees" class="control-label"></label>

                <br />

                @foreach (Person person in Model.People)
                {
                    bool a = Model.IsAssigned(person);
                    //ViewData["G"] = a;

                    <input type="checkbox" value="@a" name="@a.ToString()"/> @person.FullName <br />
                }
                @*<input type="checkbox" value="@a" checked="checked" name="@a" class="CourseCheckboxList"/>*@
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
